.jfx-hamburger StackPane {
    -fx-background-color: white;
}

.jfx-date-picker .jfx-text-field {
    -fx-text-fill: white;
    -jfx-unfocus-color: #cfd8dc;
    -fx-prompt-text-fill: GRAY;
}

.jfx-combo-box .cell {
    -fx-text-fill: white;
    -fx-background-color: #455A64;

}

.jfx-time-picker .jfx-text-field {
    -fx-text-fill: white;
    -jfx-unfocus-color: #cfd8dc;
    -fx-prompt-text-fill: GRAY;
}

/*TableView CSS*/
.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-stroke: transparent;
    -fx-size: 50;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;

}

.table-row-cell:filled:hover {

    -fx-size: 50;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;

}

.table-view:row-selection {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-fixed-cell-size: 50;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;

}

.table-view .table-column {
    -fx-text-alignment: center;
    -fx-alignment: CENTER

}

.jfx-list-view .list-cell {
    -fx-control-inner-background: #607D8B;

}

.jfx-list-view .scroll-bar:vertical {
    -fx-scale-x: 0;
}
.jfx-list-view{
    -fx-background-color: transparent;
    -fx-expanded: true;
}